.cabecalho{
    background-image:linear-gradient(pink,purple);
    color: black;
    display: flex;
    padding: 24px 0;
}


.section1{
    background-image:linear-gradient(purple,rgb(212, 166, 174));
    padding: 100px;

}

.section2{
    background-image:linear-gradient(rgb(212, 166, 174),purple);
    padding: 100px;
}

.teladefundo{
    width: 10%;
}

.rodape{
    background-color: black;
    color: black;
}